body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #222226;
    color: #777777;
}
.header {
    border-top: 8px solid #333336;
    border-bottom: 1px solid #333336;
}
.header ul {
    margin: 0;
    padding: 0;
}
.header ul li {
    display: inline;
    padding-right: 10px;
}
.header ul li a {
    text-decoration: none;
}
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    line-height: 60%;
    font-style: bold;
}
p {
    line-height: 1.5;
}
a {
    color: #90caf9;
}
a:link {
    color: #5d99c6;
}
